body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.commentBox {
    padding-bottom: 40px;
}

.navbar-brand {
    height: 55px;
    width: 55px;
}

.navbar-title {
    font-size: 18px;
}

.bugList tr td {
    cursor: pointer;
}