<div class="col-md-12">
    <div class="page-header">
        <div class="row alert">
            <div class="btn-group pull-left">
                <button class="btn btn-primary" type="button" ng-click="showCtrl.toBugList()">
                    <em class="glyphicon glyphicon-chevron-left"></em> Fehlerübersicht
                </button>
                <button class="btn btn-default" type="button" ng-click="showCtrl.toEditBug()">
                    <em class="glyphicon glyphicon-pencil"></em> Bearbeiten
                </button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default" type="button" ng-click="showCtrl.createComment()">
                    <em class="glyphicon glyphicon-comment"></em> Kommentar anlegen
                </button>
                <button ng-repeat="toStates in showBugModel.toStates" class="btn btn-default"
                        format-state="{{toStates.title}}" ng-click="showCtrl.toChangeState(toStates)"></button>
            </div>
        </div>
        <h2>{{showBugModel.bug.title}}</h2>
        <span ng-if="showBugModel.bug.state" format-state="{{showBugModel.bug.state.title}}"></span>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <h4>Daten:</h4>
            </div>
            <div class="col-md-12">
                Entwickler: {{showBugModel.bug.developer.firstname}} {{showBugModel.bug.developer.lastname}}<br/> <br/>
                Autor: {{showBugModel.bug.author.firstname}} {{showBugModel.bug.author.lastname}}<br/> <br/>
                Letzte aktualisierung: {{showBugModel.bug.lastUpdateDate | date:'dd.MM.yyyy - HH:mm'}}<br/> <br/>
                Erstellungsdatum: {{showBugModel.bug.creationDate | date:'dd.MM.yyyy - HH:mm'}}
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h4>Beschreibung:</h4>
            </div>
            <div class="col-md-12">
                {{showBugModel.bug.description}}
            </div>
        </div>
    </div>
    <br/>

    <div class="page-header">
        <h4>Kommentare</h4>
    </div>
    <div ng-repeat="comment in showBugModel.comments | orderBy:'id':true" class="col-md-12 alert alert-info">
        <div class="col-md-2">
            Autor: {{comment.author.firstname}} {{comment.author.lastname}}<br/>
            Am: {{comment.creationDate | date:'dd.MM.yyyy - HH:mm'}}<br/>
            <span ng-if="comment.fromState" format-state="{{comment.fromState}}">Von: </span> <br/>
            <span ng-if="comment.toState" format-state="{{comment.toState}}">Auf: </span>
        </div>
        <div class="col-md-10">
            {{comment.title}}
            <pre class="description" ng-if="comment.description">{{comment.description}}</pre>
        </div>
    </div>
</div>