<h2>Fehler anlegen</h2>

<section ng-controller="formController as formController">
<form name="bugForm" novalidate>
    <table>
        <tr>
            <td><label>Titel:</label></td>
            <td>
                <input type="text" name="title" ng-model="formModel.formBug.title" ng-disabled="formBug.isEdit" maxlength="255" required>
                <span class="error" ng-show="bugForm.title.$invalid" >
                    {{formController.getErrorMessage(bugForm.title)}}
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Status:</label></td>
            <td>
                <input type="text" name="state" ng-model="formModel.formBug.state" ng-disabled="formModel.isEdit" maxlength="255" required>
                <span class="error" ng-show="bugForm.state.$invalid">
                    {{formController.getErrorMessage(bugForm.state)}}
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Autor (ID):</label></td>
            <td>
                <input type="number" name="autor" ng-model="formModel.formBug.autor" ng-disabled="formModel.isEdit" maxlength="255" required>
                <span class="error" ng-show="bugForm.autor.$invalid">
                    {{formController.getErrorMessage(bugForm.autor)}}
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Entwickler (ID):</label></td>
            <td>
                <input type="number" name="developer" ng-model="formModel.formBug.developer" ng-disabled="formModel.isEdit" maxlength="255" required>
                <span class="error" ng-show="bugForm.developer.$invalid">
                    {{formController.getErrorMessage(bugForm.developer)}}
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Aktualisierungsdatum (Wird eig automatisch gesetzt):</label></td>
            <td>
                <input type="text" name="lastUpdateDate" ng-model="formModel.formBug.lastUpdateDate" ng-disabled="formModel.isEdit" maxlength="255" required>
                <span class="error" ng-show="bugForm.lastUpdateDate.$invalid">
                    {{formController.getErrorMessage(bugForm.lastUpdateDate)}}
                </span>
            </td>
        </tr>
        <tr>
            <td><label>Erstellungsdatum (Wird eig automatisch gesetzt):</label></td>
            <td>
                <input type="text" name="creationDate" ng-model="formModel.formBug.creationDate" ng-disabled="formModel.isEdit" maxlength="255" required>
                <span class="error" ng-show="bugForm.creationDate.$invalid">
                    {{formController.getErrorMessage(bugForm.creationDate)}}
                </span>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" ng-disabled="bugForm.$invalid || bugForm.$pristine" ng-click="saveBug(bugForm)"></td>
            <td><input type="submit" value="Cancel" ng-click="cancel()"></td>
        </tr>
    </table>
</form>