<div class="col-md-12" ng-controller="editBugController as editCtrl">
    <div class="page-header">
        <h2>Fehler anlegen</h2>
    </div>


    <!--<div class="form-group has-error">-->
    <!--<label class="control-label" for="inputError1">Input with error</label>-->
    <!--<input type="text" class="form-control" id="inputError1">-->
    <!--</div>-->


    <form class="form-horizontal" name="bugForm" novalidate>
        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Titel*</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="title" name="title" placeholder="Titel"
                       ng-model="bugModel.editedBug.title" maxlength="255" required>
            </div>
            <div class="error col-sm-2" ng-show="bugForm.title.$invalid">
                {{editCtrl.getErrorMessage(bugForm.title)}}
            </div>
        </div>
        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Beschreibung</label>

            <div class="col-sm-8">
                <textarea rows="8" type="text" class="form-control" id="description" name="description"
                          placeholder="Beschreibung" ng-model="bugModel.editedBug.description"
                          maxlength="4000"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Status*</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="state" name="state"
                       placeholder="Status - (Wird eig automatisch gesetzt)"
                       ng-model="bugModel.editedBug.state" maxlength="255" required>
            </div>
            <div class="error col-sm-2" ng-show="bugForm.state.$invalid">
                {{editCtrl.getErrorMessage(bugForm.state)}}
            </div>
        </div>
        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Autor (ID)*</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" id="autor" name="autor"
                       placeholder="Autor - (Wird eig automatisch gesetzt)"
                       ng-model="bugModel.editedBug.autor" maxlength="255" required>
            </div>
            <div class="error col-sm-2" ng-show="bugForm.autor.$invalid">
                {{editCtrl.getErrorMessage(bugForm.autor)}}
            </div>
        </div>
        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Entwickler (ID)</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" id="developer" name="developer"
                       placeholder="Entwickler  - (Wird eig automatisch gesetzt)"
                       ng-model="bugModel.editedBug.developer" maxlength="255">
            </div>
            <div class="error col-sm-2" ng-show="bugForm.developer.$invalid">
                {{editCtrl.getErrorMessage(bugForm.developer)}}
            </div>
        </div>
        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Aktualisierungsdatum</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastUpdateDate" name="lastUpdateDate"
                       placeholder="Aktualisierungsdatum - (Wird eig automatisch gesetzt)"
                       ng-model="bugModel.editedBug.lastUpdateDate" maxlength="255">
            </div>
            <div class="error col-sm-2" ng-show="bugForm.lastUpdateDate.$invalid">
                {{editCtrl.getErrorMessage(bugForm.lastUpdateDate)}}
            </div>
        </div>
        <div class="form-group">
            <label for="titel" class="col-sm-2 control-label">Erstellungsdatum*</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="titel" name="creationDate"
                       placeholder="Erstellungsdatum - (Wird eig automatisch gesetzt)"
                       ng-model="bugModel.editedBug.creationDate" maxlength="255" required>
            </div>
            <div class="error col-sm-2" ng-show="bugForm.creationDate.$invalid">
                {{editCtrl.getErrorMessage(bugForm.creationDate)}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Anlegen"
                       ng-disabled="bugForm.$invalid || bugForm.$pristine"
                       ng-click="editCtrl.saveBug(bugForm)">
                <input type="submit" class="btn btn-default" value="Cancel" ng-click="editCtrl.toBugList()">
            </div>
        </div>
    </form>

</div>