<h2>Registrieren</h2>

<form>
    <div class="form-group">
        <label for="firstName">Vorname</label>
        <input type="text" class="form-control" id="firstName" placeholder="Vorname">
    </div>
    <div class="form-group">
        <label for="lastName">Nachname</label>
        <input type="text" class="form-control" id="lastName" placeholder="Nachname">
    </div>
    <div class="form-group">
        <label for="eMail">Email address</label>
        <input type="email" class="form-control" id="eMail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <a href="#/bug" class="btn btn-default">Anmelden</a>
    <a href="#/bug" class="btn btn-default">Abbrechen</a>
</form>