<div class="col-md-12" ng-controller="showBugController as showCtrl">
    <div class="page-header">
        <div class="row alert">
            <div class="btn-group pull-left">
                <button class="btn btn-primary" type="button" ng-click="showCtrl.toBugList()">
                    <em class="glyphicon glyphicon-chevron-left"></em> Fehlerübersicht
                </button>
                <button class="btn btn-default" type="button" ng-click="showCtrl.editBug()">
                    <em class="glyphicon glyphicon-pencil"></em> Bearbeiten
                </button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default" type="button" ng-click="showCtrl.createComment()">
                    <em class="glyphicon glyphicon-comment"></em> Kommentar anlegen
                </button>
                <!--//TODO:Foreach folgestatus-->
                <button class="btn btn-default" type="button" format-state="Abgelehnt"></button>
                <button class="btn btn-default" type="button" format-state="Behoben"></button>
            </div>
        </div>
        <h2>{{bugModel.editedBug.title}}</h2><span format-state="{{bugModel.editedBug.state}}"></span>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <h4>Daten:</h4>
            </div>
            <div class="col-md-12">
                Entwickler: {{bugModel.editedBug.developer}}<br/> <br/>
                Autor: {{bugModel.editedBug.autor}}<br/> <br/>
                Letzte aktualisierung: {{bugModel.editedBug.lastUpdateDate}}<br/> <br/>
                Erstellungsdatum: {{bugModel.editedBug.creationDate}}
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h4>Beschreibung:</h4>
            </div>
            <div class="col-md-12">
                {{bugModel.editedBug.description}}
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="page-header">
        <h4>Kommentare</h4>
    </div>
    <div ng-repeat="comment in bugModel.comments" class="col-md-12 alert alert-info">
        <div class="col-md-3">
            <!--<span format-state="Angelegt"></span> <span class="glyphicon glyphicon-chevron-right"></span> <span-->
            <!--format-state="{{bugModel.editedBug.state}}"></span><br/>-->
            Von: {{comment.userId}}<br/>
            Am: {{comment.creationDate}}
        </div>
        <div class="col-md-9">
            {{comment.title}}<br/>
            <small>{{comment.description}}</small>
        </div>
    </div>
</div>
</div>