<div class="col-md-12" ng-controller="editBugController as editCtrl">
    <div class="page-header">
        <h2>{{bugModel.editedBug.title}}</h2>
        Aktueller Status: {{bugModel.editedBug.state}}
    </div>
    <div class="container-fluid">
        <div class="row alert alert-warning">
            <button class="btn btn-primary" type="button" ng-click="editCtrl.toBugList()">
                <em class="glyphicon glyphicon-step-backward"></em> Zurück
            </button>
            <div class="btn-group pull-right">
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-center"></em> Folgestatus B
                </button>
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-right"></em> Folgestatus C
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h3>
                    Beschreibung:
                </h3>
                {{bugModel.editedBug.description}}
            </div>

            <div class="col-md-2 pull-right">
                Entwickler: {{bugModel.editedBug.developer}}<br/>
                Autor: {{bugModel.editedBug.autor}}<br/>
                Letzte aktualisierung: {{bugModel.editedBug.lastUpdateDate}}<br/>
                Erstellungsdatum: {{bugModel.editedBug.creationDate}}
            </div>
        </div>
        <div class="panel panel-warning navbar-fixed-bottom commentBox">
            <div class="panel-heading">
                <h3 class="panel-title">Kommentare</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    Erstellungsdatum: 01.01.blub<br/>
                    User: Max Mustermann
                </div>
                <div class="col-md-10">
                    Kommentare sind toll...<br/>
                    Kommentare sind toll...<br/>
                    Kommentare sind toll...<br/>
                </div>
            </div>
        </div>
    </div>
</div>