<section ng-controller="formController as formController">
    <form name="roomForm" novalidate>
        <h2>Room Form</h2>
        <table>
            <tr>
                <td><label>Building:</label></td>
                <td>
                    <input type="text" name="building" ng-model="formModel.formRoom.building" ng-disabled="formModel.isEdit" maxlength="1" required>
                            <span class="error" ng-show="roomForm.building.$invalid" >
                                {{formController.getErrorMessage(roomForm.building)}}
                            </span>
                </td>
            </tr>

            <tr>
                <td><label>Room Number:</label></td>
                <td>
                    <input type="text" name="roomNumber" ng-model="formModel.formRoom.roomNumber" ng-disabled="formModel.isEdit" maxlength="3" required>
                            <span class="error" ng-show="roomForm.roomNumber.$invalid">
                                {{formController.getErrorMessage(roomForm.roomNumber)}}
                            </span>
                </td>
            </tr>
            <tr>
                <td><label>Seats:</label></td>
                <td>
                    <input type="number" name="seats" ng-model="formModel.formRoom.seats" maxlength="3" min="1" required>
                            <span class="error" ng-show="roomForm.seats.$invalid">
                                {{formController.getErrorMessage(roomForm.seats)}}
                            </span>
                </td>
            </tr>

            <tr>
                <td><label>Beamer Present:</label></td>
                <td><input type="checkbox" ng-model="formModel.formRoom.beamerPresent"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" ng-disabled="roomForm.$invalid || roomForm.$pristine" ng-click="formController.saveRoom(roomForm)"></td>
                <td><input type="submit" value="Cancel" ng-click="formController.cancel()"></td>
            </tr>
        </table>
    </form>
</section>